<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Kreator notatek</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<link href="https://unpkg.com/awsm.css/dist/awsm_theme_big-stone.min.css" rel="stylesheet">
</head>
<body>
<main>
	<!--/*@thymesVar id="note" type="com.responsywnie.noteapp.model.Note"*/-->
	<p th:if="validationMessage"></p>
	<form action="#" method="POST" th:action="@{/save_note}" th:object="${note}">

		<fieldset>
			<legend>Temat notki</legend>
			<p th:errors="*{subject}" th:if="${#fields.hasErrors('subject')}">Title errors</p>
			<label>
				<input th:field="*{subject}" type="text"/>
			</label>
		</fieldset>
		<p th:errors="*{description}" th:if="${#fields.hasErrors('description')}">Title errors</p>
		<fieldset>
			<legend> Treść notki</legend>
			<label>
				<input name="description" th:field="*{description}" type="text">
			</label>
		</fieldset>
		<p th:errors="*{author}" th:if="${#fields.hasErrors('author')}">Title errors</p>
		<fieldset>
			<legend>Autor</legend>
			<label>
				<input name="author" th:field="*{author}" type="text">
			</label>
		</fieldset>
		<button type="submit">Dodaj notke</button>
		<a th:href="@{/}">Wróć</a>
	</form>
</main>
</body>
</html>
