<!DOCTYPE html>
<html lang="pl" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<title>Kreator notatek</title>
	<meta content="width=device-width, initial-scale=1.0" name="viewport">
	<link href="https://igoradamenko.github.io/awsm.css/css/awsm_theme_black.min.css" rel="stylesheet">
</head>
<body>
<main>

	<!--/*@thymesVar id="notes" type="com.responsywnie.noteapp.model.Note"*/-->
	<form action="#" method="POST" th:action="@{/new_note}" th:object="${notes}">

		<fieldset>
			<legend>Temat notki</legend>
			<label>
				<input th:field="*{getSubject()}" type="text"/>
			</label>
		</fieldset>
		<fieldset>
			<legend> Treść notki</legend>
			<label>
				<input name="description" th:field="*{getDescription()}" type="text">
			</label>
		</fieldset>
		<fieldset>
			<legend>Autor</legend>
			<label>
				<input name="author" th:field="*{getAuthor()}" type="text">
			</label>
		</fieldset>
		<button type="submit">Zapisz notke</button>
	</form>
</main>
</body>
</html>
