#container
{

}
#logo
{
: 40px;
    background-color: black;
    color: white;
    text-align: center;
}
table
{
    align-content: center;
}
.table:hover
{
    pointer-events: auto;
    padding: 10px;
}
#footer
{
    clear: both;
    background-color: black;
    font-size: 22px;
    color: white;
    text-align: center;
}
#navi
{
    alignment: center;
    padding: 20px;
}

